# --- BLOCKCHAIN CONNECTION ---
BLOCKCHAIN_URL="http://127.0.0.1:8545"
CONTRACT_ADDRESS="YOUR_DEPLOYED_CONTRACT_ADDRESS"

# --- SUPER ADMIN WALLET (Hardhat Account #0) ---
ACCOUNT_ADDRESS="YOUR_HARDHAT_ACCOUNT_0_ADDRESS"
PRIVATE_KEY="YOUR_HARDHAT_ACCOUNT_0_PRIVATE_KEY"

# --- PINATA IPFS KEYS (For Decentralized File Storage) ---
PINATA_API_KEY="YOUR_PINATA_API_KEY"
PINATA_SECRET_API_KEY="YOUR_PINATA_SECRET_API_KEY"

# --- MONGODB ATLAS ---
MONGO_URI="mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/biochain_db?retryWrites=true&w=majority"

# --- GOOGLE GEMINI AI ---
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
